

<h3 class="headline "> Place an order</h3>

<%= form_with  url: "/medorders" do |f|%>

     <strong><%= f.label :name, "Enter your name for order" %></strong>
      <%= f.text_field :name %><br>
     <%= f.submit  'Place an order' %>
<% end %>

<%#= button_to 'Place an order', medorders_path ,method: :post, class: 'btn'%>





<%#= link_to 'Place order', medorders_path%>


 


