// Place all the styles related to the Meddetails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


// .t-style{


// }


.table-container{
    display: flex;

}


.order{
    background-color: rgb(172, 211, 46);
    width:15vw;
    display:inline-flex;
    margin:75px 0 0;
    padding:10px 0 5px 18px;
   

}

.order_details{
    background-color: rgb(172, 211, 46);
    width:25vw;
    display:flex;
    margin:10px 0;
    padding:5px 0 5px 18px;
}
.order_details1{
    background-color: rgba(57, 59, 48, 0.322);
    color:white;
    width:15vw;
    display:flex;

    padding:5px 0 5px 18px;
    text-align: center;
}

 td ,th {
    background-color: rgba(57, 59, 48, 0.322);
    color:white;
    border: 2px solid white;
    font-weight:500;


}

.btn2{
    outline: none;
    border: none;
    background-color: rgb(61, 103, 109);
    color:white;
    padding:8px;
    font-size: 1rem;
    margin-top: 10px;
    display: flex; 
    flex-direction: row;
    // justify-content: flex-end;
    // align-items: flex-end;
    cursor: pointer;
    // position: fixed ; 
  
 }



//  styling order buttons.....


@mixin btn {
    outline: none;
    border: none;
    background-color: rgb(61, 103, 109);
    color:white;
    padding:8px;
    font-size: 1rem;
    margin-top: 10px;
    display: flex; 
    cursor: pointer; 
}
 .check_order{
    @include btn;
    position: fixed;
    top:4.1rem;
    
}

.back-btn{
    @include btn;
    position: fixed;
    top:6.5rem;
    
}


// styling sort btn


.sort-btn{

@include btn;
display: flex;
align-items: flex-end;
justify-content: flex-end;
position:fixed;
right:2vw;
top:0%;

}