// Place all the styles related to the Medorders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// stylig for medical products..........................


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


@mixin home_style {
    outline: none;
    border: none;
    background-color: rgba(61, 102, 109, 0.342);
    color:black;
    padding:8px;
    margin: 0 0 1rem 0;
    width:100%;
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    cursor: pointer;
    position: fixed ; 
    font-size: 1.1rem;
}

.products_container{
    background-color: rgba(18, 18, 18, 0.4);
    font-size: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    list-style-type: none;
    position: absolute;
    top:0;
    width:50%;
    margin:0 auto;
    margin-top: 9.4rem;
    left:22%;
  

} 

.product-image{
    padding: 10px;
    margin:0 auto;
    display:block;


}

.inner-container{
    border-bottom: 1px solid rgba(255, 255, 255, 0.418);
    padding:20px 0;
    font-size: 1.2rem;
    width:80%;

 
}

