// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');



@mixin home_style {
    outline: none;
    border: none;
    background-color: rgba(61, 102, 109, 0.342);
    color:black;
    padding:8px;
    margin: 0 0 1rem 0;
    width:10%;
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    cursor: pointer;
    position: fixed ; 
    font-size: 1.1rem;
}

@mixin btn {
    outline: none;
    border: none;
    background-color: rgb(61, 103, 109);
    color:white;
    padding:8px;
    font-size: 1rem;
    margin-top: 10px;
    display: flex; 
    cursor: pointer; 
}

*{
    margin: 0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}
html{
    height:100vh;
    width:100vw;
    overflow:hidden; 
}
body{
  
    height:100vh;
    width:100vw;
    overflow-y:scroll;
    background-image: linear-gradient(40deg,rgb(124, 176, 200), transparent 190%),linear-gradient(210deg,rgb(7, 255, 201), transparent 190%),url('medhealth');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position:relative;
}





// styling for product form............................
strong{
    padding: 10px 15px;
}


.headline{
    color:white;
    color: rgb(61, 103, 109);
    font-size: 1.4rem;
    padding:10px;
    text-align: center;
}
.login{
    padding: 20px; 
}

.field{
    color: white;
    margin-left: 15px;
    width: 200px;
    padding:20px;

}

.actions{
    padding: 20px;

}

.container-flex{
   display: flex;
   flex-direction: column;
   padding:0;
   background-color: rgba(18, 18, 18, 0.4);
   padding:20px;
   align-items: center;
  
}

.gear_rotating{
   position: absolute;
   z-index: -2;
   animation:rotate 40s linear forwards infinite;
   height:5rem;
   width: 5rem;
   top: 16rem;
   left:48%;
   opacity:0.1;
   position: fixed; 

}

@keyframes rotate {
    0%{
        transform: rotateZ(-360deg);
    }
    50%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}




// general button...
.btn{
    @include btn;
    margin-top: 5px;
    justify-content: flex-start;
    position: fixed;

}

.btn2{
    outline: none;
    border: none;
    background-color: rgb(61, 103, 109);
    color:white;
    margin-top: 10px;


  
}




// style log out and home buttons
.logout{
    @include home_style; 

  
}

.home{
    @include home_style;
    top:2.3rem;
  
}





// style products and vendor option buttons........
.products_option{
    @include home_style;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    cursor: pointer;
    position: fixed ; 
    top: 4.7rem;

    

     
}

.vendor_option{
   @include home_style;
    justify-content: flex-end;
    align-items: flex-end;
    position: fixed ; 
    top:7rem;    
     
}





//  styling for medical products conatiner..........................

.products_container{
    background-color: rgba(18, 18, 18, 0.4);
    font-size: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    list-style-type: none;
    position: absolute;
    top:0px;
    width:50%;
    margin:0 auto;
    margin-top: 0rem;
    left:22%;
  

} 

.product-image{
    padding: 10px;
    margin:0 auto;
    display:block;


}

.inner-container{
    border-bottom: 1px solid rgba(255, 255, 255, 0.418);
    padding:20px 0;
    font-size: 1rem;
    width:80%;
 
    
}