// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}
body{
  
    height:100vh;
    width:100vw;
    overflow-x:hidden;
    background-image: linear-gradient(40deg,rgb(124, 176, 200), transparent 200%),linear-gradient(210deg,rgb(7, 255, 201), transparent 200%),url('https://cdn.pixabay.com/photo/2017/02/20/14/18/health-2082630_1280.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;

}



// styling for product form............................
strong{
    padding: 10px 15px;
}


.headline{
    color:white;
    color: rgb(61, 103, 109);
    font-size: 1.4rem;
    padding:10px;
    text-align: center;
}
.login{
    padding: 20px; 
}

.field{
    color: white;
    margin-left: 15px;
    width: 200px;
    padding:20px;

}

.actions{
    padding: 20px;

}

.container-flex{
   display: flex;
   flex-direction: column;
   padding:0;
   background-color: rgba(18, 18, 18, 0.4);
   padding:20px;
   align-items: center;
  
}

.gear_rotating{
   position: absolute;
   z-index: -2;
   animation:rotate 50s linear forwards infinite;
   height:5rem;
   width: 5rem;
   top: 20rem;
   left:50%;
   opacity:0.1;
   background-image: linear-gradient(grey,tranparent);
   

}

@keyframes rotate {
    0%{
        transform: rotateZ(-360deg);
    }
    50%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}

.btn{
    outline: none;
    border: none;
    background-color: rgb(61, 103, 109);
    color:white;
    padding:8px;
    border-radius: 4px;
    font-size: 1rem;
    margin:0 auto;
    margin-top: 20px;
    display: flex;
    cursor: pointer;

}



.btn2{
    outline: none;
    border: none;
    background-color: rgb(61, 103, 109);
    color:white;
    padding:8px;
    font-size: 1rem;
    margin-top: 10px;
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    cursor: pointer;


}








// stylig for medical products..........................
.products_container{
    background-color: white;
    font-size: small;
    color:rgb(61, 103, 109);
    display: flex;
    flex-direction: column;
    width: 90%;
    list-style-type: none;


} 